html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

section {
  height: 81rem;
  width: 50%;
  margin: 0;
  float: left;
}

form div {
  margin: 4rem auto;
  width: 44.7rem
}

#bookmarks{
  background-color: #C9D2D7;
  float: right;
  overflow: scroll;
}

input {
  width: 100%;
  margin-top: 1rem;
  height: 4rem;
  font-size: 3rem;
}

input::placeholder {
  color: #ccced0;
  padding-left: 1rem;
}

.enter-button {
  border: 0;
  border-radius: 0;
  background-color: #FFB90C;
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff;
  width: 45.5rem;
}

.enter-button:hover {
  background-color: #ffd773;
}

img {
  width: 10rem;
  vertical-align: top;
}

#user-input {
  background-color: #3C5059;
  color: white;
}

h1  {
  margin-top: 21rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 800;
}

.website-card {
  background-color: #ffffff;
  margin: 2rem;
  border: 2px solid #607d8b;
}

h2 {
  font-size: 3rem;
  color: #455a64;
  padding: 1.5rem 1rem 0 2rem;
  font-weight: bold;
}

hr {
  border-color: #607d8b;
  width: 90%;
  margin: 2rem;
  opacity: .2;
}

a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #607d8b;
  text-decoration: none;
  border-bottom: 2px solid #f2f4f4;

}
a:hover{
  border-bottom: 2px solid #ffc107;
  font-weight: 800;
}

.button-read,
.button-delete {
  border: 0 none white;
  border-style: hidden;
  text-decoration: none;
  color: #455a64;
  background-color: #ffffff;
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f2f4f4;
  padding: 0;
}

.button-read:hover{
  border-bottom: 2px solid #ffc107;
}

.button-delete:hover{
  border-bottom: 2px solid #ffc107;
}

.button-delete {
  float: right;
}

/*Alternative below for styling cards when read button is toggled on*/

.read {
  background-color: #f2f4f4;
}

.read a {
  border-bottom: 2px solid #cfd8dc;
}

.read a:hover{
  border-bottom: 2px solid #ffc107;
}

.read .button-read {
  color: #f05a28;
  font-weight: 800;
  background-color: #f2f4f4;
  font-weight: 800;
}

.read .button-delete:hover {
  border-bottom: 2px solid #ffc107;
}

.read .button-delete {
  background-color:  #f2f4f4;
  border-bottom: 2px solid #cfd8dc;
}

.clear-all-read {
  display: block;
  width: 90%;
  height: 5rem;
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: 800;
  background-color: #c8dfdc;
  color: #ffffff;
}

.active-clear-all:hover {
  background-color: #F05B28;
  color: #ffffff;
}

button.active-clear-all {
  background-color: #FFB90C;
  color: #ffffff;
}

